body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #3C3B3F; 
  background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);
  background: linear-gradient(to right, #605C3C, #3C3B3F); */
  background-color: #fafafa;
}
   
  body .content p {
    font-size: 17px;
    margin: 5px 0 10px 10px;
    padding: 0px; 
  }

    a {
      color: #ff6a00;
      text-decoration: none!important; 
    }
      a:hover {
        color: #ce181e; 
      }

    hr{
      border-color: #355959;
      border-width: 8px;
    }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ****************Resume Specific**************** */

.github{
color: #211F1F;
}
.github:hover {
  color:#355959; }

.twitter{
  color: #1da1f2;
}
.twitter:hover{
  color:#008abe;
}

h1 small {
  color: #999;
  display: block;
  font-size: 0.5em;
}

h1, h2, h3, h4 {
  padding-left: 30px;
  color: #355959;
}

.synopsis, .position, .education, .project {
  margin-bottom: 25px;
  margin-left: -40px;
  padding-left: 70px;
}

.title {
  display: block;
  margin-top: 0px;
  margin-left: -10px;
  padding-left: 10px;
  color: #355959;
}
.supplemental {
  display: block;
  font-style: italic;
  color: #64a2a2;
}
.time-period {
  display: block;
  font-size: smaller;
  color: #999;
}

.carousel-item {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

hr.light{
  border-color: #355959;
  border-width: 3px;
}

hr.medium{
  border-color: #355959;
  border-width: 5px;
}

hr.strong{
  border-color: #355959;
  border-width: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}